.title a,
.title span {
    color: #fa6b05;
    text-decoration: none;
    font-weight: bold;
}

.title a:hover,
.title a:focus,
.title a:active {
text-decoration: underline;
}

.title {
margin: 0;
line-height: 1.15;
font-size: 4rem;
}

.title,
.description {
text-align: center;
}

.description {
line-height: 1.5;
font-size: 1.5rem;
color: rgb(110, 109, 109);
}