.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
    color: rgb(248, 248, 248);
	transition: all 0.5s;
	position: relative;	
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
/* 
========================
      BUTTON TWO
========================
*/

.btn span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
    top: 0
}
.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(0, 0, 0, 0.473);
}
.btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}