.nav {
    height: 50px;
    padding: 10px;
    background: #F59E0B;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
  }